.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--padding-sm);
    padding: var(--padding-md);
    background-color: var(--color-surface);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--padding-md);
    min-width: fit-content;
    width: 120px;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-roboto-mono), "Roboto Mono", monospace;
}

.icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-right: var(--padding-xs);
    color: var(--color-on-surface-low-contrast);
}