.button {
    display: inline-block;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: none;
    border-radius: var(--border-radius);
    padding: 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.button_elevated {
    box-shadow: var(--box-shadow);
}

.button_primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

.button_secondary {
    padding: 10px;
    background: none;
    border: solid 2px var(--color-primary);
    color: var(--color-on-surface);
}

.button_danger {
    background-color: var(--color-danger);
    color: var(--color-on-danger);
}