.input_box {
    display: flex;
}

.button_clear {
    box-sizing: content-box;
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    padding: 12px;
    font-size: 18px;
    background: none;
    border: none;
    color: var(--color-on-surface-low-contrast);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.button_clear:hover {
    transform: scale(1.1);
}

.input {
    width: 100%;
    padding: 12px;
    border: 1.5px solid var(--color-border);
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    margin-bottom: 2px;
    background-color: var(--color-on-input-box);
    color: var(--color-on-surface);
    transition: border 0.2s;
}

.input:focus {
    border: 1.5px solid var(--color-primary);
}
