.input {
    display: inline-block;
    max-width: 120px;
    padding: var(--padding-sm);
    background-color: var(--color-surface);
    border: solid 1px var(--color-border);
    border-radius: var(--border-radius);
    font-family: var(--font-roboto-mono);
    transition: .2s;
    outline: none;
}

.input:focus {
    border: solid 1px var(--color-primary);
}