.container {
    padding: var(--padding-xs);
    transform: translate(0, var(--padding-sm));
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    border: solid 1px var(--color-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 400px;
}

.item {
    display: block;
    width: 100%;
    background-color: unset;
    border: none;
    color: var(--color-on-surface);
    border-radius: var(--border-radius);
    padding: var(--padding-sm);
    text-align: left;
    cursor: pointer;
}

.item:hover {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}