.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--padding-sm);
}

.star {
    font-size: 24px;
    color: var(--color-border);
    transition: color 0.2s ease;
}

.star_filled {
    color: var(--color-primary);
}